*{
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.row{
    display: flex;
}

.col-1,
.col-2,
.col-3{
    flex: 1;
}

.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}

.celeste{
    background-color: #9fc5f8;
}

.plomo{
    background-color: #dddddd;
}

.gris{
    background-color: #eeeeee;
}

.azul{
    background-color: #095394;
    color: white;
}
/* General */
/* nav */
.s-b{
    justify-content: space-between;
}

.s-e{
    justify-content: space-evenly;
}

.s-a{
    justify-content: space-around;
}

.lst{
    list-style-type: none
}

.b-b{
    border-bottom: 1px solid #5c5c5c;
}

.a-c{
    align-items: center;
}
/* nav */
/* main */
.tamaño{
    width: 1200px;
}

.t-c{
    text-align: center;
    padding: 20px;
}

.tm-i{
    width: 300px;
}

.p{
    padding: 20px;
}

.m-t{
    margin-top: 10px;
}
/* main */